/* global settings */
html,body{
    font-family: "Source Han Sans CN", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
    background-color: #fefefe;
    -webkit-app-region: drag;/* let frameless windows draggable */
    width: 90%; height: 90%;/* 解决页面下半部分无法拖拽的问题：页面没有伸展至那儿 */
}
#copySuccessAlert{
    color: #000000;
    position: absolute;
    top: 45%; left: 45%;
}
.backLink{
    color: #4a9af6;
    line-height: 20px;
}
@keyframes showBtn{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* main-search-box */
#main{
    position: absolute;
    transform: translateY(100px);
    left: 45px; right: 45px;
    align-content: center;
    text-align: center;
    -webkit-app-region: no-drag;/* 使元素可被点击 */
    -webkit-user-select: text;
}
#searchbox{
    border: none;
    outline: none;
    background-image: url(../content/base.png);
    width: 450px; height: 48px;
    text-align: center;
    font-size: 22px;
    background-color: #fefefe;
    font-family: "Source Han Sans CN", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
    -webkit-appearance: none;
    -webkit-app-region: no-drag;/* 使元素可被点击 */
}
#searchselect{
    border: 0px;
    outline: none;
    background: none;
    width: 60px; height: 44px;
    text-align: center;
    font-size: 14px;
    background-color: #fefefe;
    font-family: "Source Han Sans CN", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
    -webkit-app-region: no-drag;/* 使元素可被点击 */
}
#smallSpan{
    font-size: 12px;
    color: #777777;
}

/* dictionary-content-area */
#detailbox{
    position: absolute;
    transform: translateY(50px);
    left: 45px; right: 45px;
    -webkit-app-region: no-drag;/* 使元素可被点击 */
    -webkit-user-select: text;
}
#dict{
    position: relative;
}
#wordTitle{
    color: #4a9af6;
    font-weight: bolder;
    font-size: 32px;
    line-height: 60px;
    letter-spacing: 0.5px;
}
#phonetic{
    color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}

/* bar (pop-up windows) */
#pane{
    position: absolute;
    transform: translateY(50px);
    left: 45px; right: 45px;
    -webkit-app-region: no-drag;/* 使元素可被点击 */
    -webkit-user-select: text;
}
#btn-popup{
    position: fixed;
    top: 10px; right: 8px;
    -webkit-app-region: no-drag;/* 使元素可被点击 */
    -webkit-user-select: none;
}
#btn-popup img{
    width: 28px; height: 28px;
}
#version{
    font-size: 10px;
    color: #333;
}
.settingForm{
    font-family: "Source Han Sans CN", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
    font-size: 15px;
    width: 120px; height: 30px;
}

/* english-explains-area */
#inscroll{
    position: absolute;
    transform: translateY(50px);
    left: 45px; right: 45px;
    -webkit-app-region: no-drag;/* 使元素可被点击 */
    -webkit-user-select: text;
    overflow-y:scroll;/* 当溢出时，添加滚动条 */
    height: 350px;
    width: 90%;
}
#inscroll::-webkit-scrollbar-track{
	background-color: #fefefe;
}
#inscroll::-webkit-scrollbar{
	width: 12px;
	background-color: #f5f5f5;
}
#inscroll::-webkit-scrollbar-thumb{
	background-color: #5555558f;
}
#inscroll::-webkit-scrollbar-thumb:active{
    background-color: #4a9af68f;
}
#inscroll #example{
    font-size: 14px;
    color: #4a9af6;
}

/* bar */
#btn{
    position: fixed;
    top: 10px; right: 8px;
    -webkit-app-region: no-drag;/* 使元素可被点击 */
    -webkit-user-select: none;
}
#logo{
    position: fixed;
    top: 10px; left: 8px;
    -webkit-app-region: no-drag;/* 使元素可被点击 */
    -webkit-user-select: none;
}
#bar a{
    opacity: 0;
}
#bar:hover a{
    animation: showBtn 0.5s;
    opacity: 1;
}/* 自动隐藏按钮 */
#bar img, #barNeverOut img, #logo img{
    width: 32px; height: 32px;
}
#barNeverOut a{
    opacity: 1;
}/* 不自动隐藏的bar */

/* translator page */
#trans{
    position: absolute;
    left: 45px; right: 45px; top: 45px;
}
#transIn{
    align-items: center;
    width: 50%;
    -webkit-app-region: no-drag;/* 使元素可被点击 */
    -webkit-user-select: text;
}
#transOut{
    text-align: left; vertical-align: top;
    left: 55%; 
    -webkit-app-region: no-drag;/* 使元素可被点击 */
    -webkit-user-select: text;
}
#transOutWord{
    width: 472px; height: 320px;
    overflow-wrap: normal;
    overflow: scroll;
    position: absolute;
    -webkit-app-region: no-drag;/* 使元素可被点击 */
    -webkit-user-select: text;
}
#transOutWord::-webkit-scrollbar-track{
	background-color: #fefefe;
}
#transOutWord::-webkit-scrollbar{
	width: 12px;
	background-color: #f5f5f5;
}
#transOutWord::-webkit-scrollbar-thumb{
	background-color: #5555558f;
}
#transArea{
    height: 250px;
    resize: none;
    font-size: 18px;
    background-color: #fefefe;
    font-family: "Source Han Sans CN", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
}
.transLanList{
    font-family: "Source Han Sans CN", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
    font-size: 15px;
    width: 100%; height: 30px;
}
#transSubmit{
    font-family: "Source Han Sans CN", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
    font-size: 15px;
    width: 100%; height: 30px;
    border: 2px solid #4a9af6;
    background-color: #fefefe;
}

/* searcher-detailed */
#detail{
    position: relative;
    overflow-y:scroll;/* 当溢出时，添加滚动条 */
    height: 120px;
    display: none;
    line-height: 18px;
}
#detail::-webkit-scrollbar-track{
	background-color: #fefefe;
}
#detail::-webkit-scrollbar{
	width: 12px;
	background-color: #f5f5f5;
}
#detail::-webkit-scrollbar-thumb{
	background-color: #5555558f;
}
#detail::-webkit-scrollbar-thumb:active{
    background-color: #4a9af68f;
}
/* 以下元素均来自必应词典原文 */
.comple{
    font-weight: bold;
}
.bil,.val{
    color: #333;
}
.bil_dis,.val_dis{
    color: #4a9af6;
    font-weight: bold;
    font-size: 14px;
    padding-right: .25em;
    line-height: 19px;
}
.infor,.se_d,.def_pa,.idmdef_li{
    color: #000;
    font-size: 14px;
}
.gra{
    color: #333;
    font-size: 14px;
    font-weight: bolder;
    float: left;
}
.infor,.sen_com,.com_sep,.bil,.gra{
    padding-right: .25em;
}
.bil_ex,.val_ex{
    line-height: 24px;
    color: #777;
}
/* 以下元素是为了优化显示而设置 */
.p1-12{
    color: #4a9af6;
}